<h1>Certificate#index</h1>
<table>
  <tr>
    <th>Subject</th>
    <th>Issuer</th>
    <th>Valid until</th>
  </tr>
<% @certificates.each do |certificate| %>
  <tr>
    <td><%= certificate.subject %></td>
    <td><%= certificate.issuer %></td>
    <td><%= certificate.not_after %></td>
  </tr>
<% end %>
</table>
