%h2 Certificate list
%table
  %tr
    %th Subject
    %th Issuer
    %th Valid until
  - @certificates.each do |certificate|
    %tr
      %td= link_to certificate.subject, certificate
      %td= certificate.issuer
      %td= certificate.not_after
