/* line 75, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p + p {
  text-indent: 2em;
  margin-top: -1.5em;
  /* Don't want this in forms. */
}
/* line 85, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
form body p + p {
  text-indent: 0;
}
/* line 77, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p.incr,
body .incr p {
  font-size: 0.833em;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 13, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .dquo {
  margin-left: -0.5em;
}
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

/* line 6, ../../app/stylesheets/style.scss */
#header {
  background-color: #f5bd5c;
}

/* line 10, ../../app/stylesheets/style.scss */
h1 {
  color: #ac4f00;
  padding-left: 200px;
}

/* line 15, ../../app/stylesheets/style.scss */
#header .alt {
  color: #f1f6f2;
  font-size: 1.5em;
  text-align: right;
  padding-right: 150px;
}

/* line 22, ../../app/stylesheets/style.scss */
h2 {
  color: #cc6c00;
  text-align: center;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #666666;
}

/* line 29, ../../app/stylesheets/style.scss */
#menu {
  margin-right: 0px;
  width: 160px;
  background: #de7a08;
}

/* line 35, ../../app/stylesheets/style.scss */
#menu ul {
  padding-left: 0px;
  width: 100%;
  height: 400px;
}

/* line 41, ../../app/stylesheets/style.scss */
#menu li {
  list-style: none;
  font: 1.2em "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  width: 100%;
}

/* line 47, ../../app/stylesheets/style.scss */
#menu li a {
  background: #de7a08;
  border-bottom: 1px solid #393939;
  color: #fff;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
  height: 20px;
  /*text-shadow: #232323 0px 2px 3px;*/
  text-shadow: 1px 1px 1px #555;
  font-variant: small-caps;
}

/* line 62, ../../app/stylesheets/style.scss */
#menu li a:hover {
  background: #333;
  color: #ccc;
  padding-bottom: 8px;
}

/* line 68, ../../app/stylesheets/style.scss */
#author {
  border-bottom: 1px solid #393939;
  color: #444444;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
  height: 100%;
  text-shadow: #232323 0px 2px 2px;
  font-variant: small-caps;
}

/* line 80, ../../app/stylesheets/style.scss */
#author a {
  text-decoration: none;
  color: #444444;
}
