%h1 Create a new CA
= link_to "Certificate list", certificates_path
%br/
= link_to "Create a new root certificate authority", root_certificate_path
%br/
= link_to "Create a new certificate", certificate_new_path
